/* Stylesheet for Homepage */

/* General */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    flex-direction: column;

    font-family: "Roboto", sans-serif;
}

section {
    padding: 20px;
}

h2 {
    font-family: "Playfair Display", serif;
    font-weight: 500;
    font-size: 1.6rem;
}

/* About me Section */

.aboutSection {
    background: linear-gradient(
        170deg,
        rgb(38, 187, 224) 60%,
        white calc(60% + 2px)
    );

    display: flex;
    justify-content: center;
}

.aboutContainer {
    display: grid;

    grid-template-areas:
        "image"
        "header"
        "text";
}

h1 {
    padding: 5px;
    color: white;
    font-family: "Playfair Display", serif;
    font-size: 1.8rem;
    z-index: 3;

    grid-area: header;
}

.aboutImage {
    height: 100%;
    width: 100%;
    object-fit: cover;

    box-shadow: 2px 2px 4px grey;
    z-index: 2;

    max-width: 500px;
    max-height: 400px;

    grid-row: image / header;
    grid-column: 1/-1;
}

@media (min-width: 540px) {
    section {
        padding: 50px;
    }

    .aboutContainer {
        grid-template-areas:
            "image image header header"
            "image image text text"
            "image image text text"
            "image image text text";

        grid-template-rows: 60px auto auto auto;
    }

    .aboutImage {
        grid-area: image;
    }
}

@media (min-width: 900px) {
    .aboutContainer {
        grid-template-areas:
            "image image blank-top blank-top"
            "image image text text"
            "image image text text"
            "image image text text"
            "header header blank-bottom blank-bottom";

        grid-template-rows: 60px auto auto auto 60px;
    }

    .aboutImage {
        grid-row: image / header;
    }
}

.aboutText {
    background-color: white;
    padding: 30px;
    box-shadow: 3px 3px 5px grey;
    max-width: 780px;

    display: flex;
    flex-direction: column;
    gap: 30px;

    grid-area: text;
}

.aboutIcons {
    align-self: flex-end;
    display: flex;
    gap: 20px;
}

.aboutIcons img {
    height: 30px;
}

/* My Work Section */

.projectSection {
    display: flex;
    justify-content: center;
}

.innerContainer {
    flex: 1;
    max-width: 1000px;
}

.projects {
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 30px;
}

.project {
    border-radius: 3px;
    box-shadow: 3px 3px 5px grey;
}

.projectImage {
    background-color: rgb(231, 93, 50);
    min-height: 200px;
    font-family: "Playfair Display", serif;
    color: white;
    font-size: 1.6rem;

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projectInfo {
    padding: 15px;
    min-height: 150px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.projectHeading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.projectName {
    font-family: "Playfair Display", serif;
    font-size: 1.1rem;
}

.projectIcons {
    display: flex;
    gap: 10px;
}

.projectIcons img {
    height: 20px;
}

.projectDescription {
    font-size: 0.8rem;
}

/* Contact Section */

.contactSection {
    padding: 0px;
    background-color: rgb(38, 187, 224);
    color: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.contactText {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactDetails {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactDetails img {
    height: 20px;
}

.phone,
.email {
    display: flex;
    gap: 5px;
    align-items: center;
}

.contactIcons {
    display: flex;
    gap: 20px;
}

.contactIcons img {
    height: 30px;
}

.contactImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

@media (min-width: 600px) {
    .contactSection {
        padding: 30px;
        flex-direction: row;
        gap: 0px;
    }

    .contactImage {
        max-width: 240px;
    }
}

@media (min-width: 900px) {
    .contactImage {
        max-width: 400px;
    }
}
